{%extends 'base.html'%}
{% block content %} 
{{ block.super}}
<div class="c1">
    <div class="imgs">
  <!-- Looping through news   -->
  {% for image in images %}
  <figure>
    <img class="img-fluid" src="{{image.image.url}}" height="189" width="320">
    <figcaption class="text-center">
      
      <div class="box-content">
          <p>{{image.image_name}}</p>
        <a class="btn btn-warning more" href="media.gallery" href="image.html">view more</a>
        <p class="desc">{{image.details}}</p>
      </div>
    </figcaption>
  </figure>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No Images...</h2>
  </div>
  {% endfor %}
</div>
<style>
  .a-btn-warning{
    color: #416165;
  }

</style>

{% endblock %}
